.vscode/
src/*.o
.vs/*

doc/*.*
doc/*


# Object files
*.o
*.ko
*.obj
*.elf

# Libraries
*.lib
*.lo

# Executables
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su

# Latex
*.aux
*.log
*.synctex.gz
*.toc
*.fdb_latexmk
*.fls

